# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env*.local

# database
*.sqlite
*.sqlite-journal
*.db
data/

# system
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp
*.swo
*~

# test
coverage/
.nyc_output/

# misc
.vercel/
